body {
    margin: 0%;
    padding: 0%;  
}
#navbar {
background-color:rgba(144,174,188, 0.787) ;
}
#logoap{
    
        width: 46%;
        height: auto;
        margin: 0%
        }   

/*BANNER*/
#baner {
     border-bottom: 2mm solid rgb(226, 201, 206)
}
#fotobaner{
    max-width: 100%;
    height: auto;
}

/*A CERCA DE MI*/ 

/* estilos del contenedor*/
#colfoto {
background-color:  rgb(255, 255, 255);
text-align: center;
margin-top: 0rem;
margin-left: 0rem;
margin-right: 0rem;
margin-bottom: 0rem;
border-bottom: 2mm solid rgb(229 164 146);
}

/* color del h4 de esta sección*/
#colorh4sobremi {
    color:rgb(226, 201, 206)
}

/* estilos de la foto de perfil*/
#fotoperfil {
width: 9rem;
height: 9rem;
border-radius: 30%;
border: 20% solid rgb(226, 201, 206);
margin-top: 2rem;
}
 /*estilo de la colunma de texto*/   
#colmi {
background-color: rgb(226, 201, 206);
text-align: center;
margin-top: 2rem;
margin-bottom: 2rem;
}
/* estilo del texto sobre mi*/
#textsobremi {
    font-size: x-large;
    font-family:'Segoe UI';
    font-weight: 400;
    color:rgb(54, 51, 51)  
}
 
/*EXPERIECIA*/

/*estilo del contenedor*/
#contexp {
    margin-top: -2rem;
    margin-left: -1rem;
    margin-right: 100%;
    margin-bottom: 100%;
   
}
/*estilo row-4* no tiene/
/*estilo row 8*/
 #col8exp {
    margin-top: 3rem;
 }
 
 #colorh4exp {
    color: rgb(229 164 146);
 }

 #estilolista {
    border: 0.5mm solid rgb(229 164 146);
 }


/*EDUCACION*/

#educación {
    background-color:  rgb(255, 255, 255);
    text-align: center;
    margin-top: 0rem;
    margin-left:0rem;
    margin-right:0rem;
    margin-bottom: 0rem;
}

#habilidades {
    background-color: rgb(159, 239, 159);
    height:min-content;
    width:auto;
}

#proyectos {
    background-color:rgb(219, 126, 141);
    height: min-content;
    width: auto;
}

#navbar {
   height:min-content;
    width:auto;
}




h4 {
    
    text-decoration-line: underline;
    font-family:fantasy;
    font: size xx-large;
    font-size: 2rem;
    letter-spacing: 2mm;
}

