body {
    margin: 0%;
    padding: 0%;
}

#navbar {
    background-color:rgba(180, 199, 208, 0.787) ;
    
    }
    #logoap{
        
            width: 46%;
            height: auto;
            margin: 0%
            }   
    
            /*banner*/
    
    #columnabaner {
        background-color: rgb(266 201 206);
    
    }

   
       #columnafoto {
        background-color: rgb(241, 227, 241);
    }

    #columnatexto {
        background-color: rgb(239, 211, 239);
        border-radius: 4mm solido rgb (266 201 206);
    }

    #fotoperfil {
        width: 20%;
        height: 20%;
        border-radius: 50%;
        margin-top: 1rem;
    }
    
       
    
    /* estilo del texto sobre mi*/
    #textsobremi {
        text-align: center;
        font-size: large;
        color:rgb(54, 51, 51);  
    }

#columnaexperiencia{
    background-color: rgb(229 164 146);
    margin-top: -1rem;
}
  

#colorh4exp {
    color: rgb(229 164 146);
    text-decoration-line: underline;
    font-family:fantasy;
    font: size xx-large;
    font-size: 2rem;
    letter-spacing: 2mm;
    margin-bottom: 1%;
}

#contenedoreducacion{
    border-top: 5mm;
    border-bottom: 5mm;
}